In [ ]:
# Import modules

from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Open Browser (Google Chrome). 
browser = Browser('chrome')

In [ ]:
# Open Mars science website. 
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

In [ ]:
# Create BeautifulSoup session. This will allow me to go through Mars data. 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Get tables from data.
rows = soup.find_all('tr', class_="data-row")

In [ ]:
# Initialize an empty list to store data rows
data_rows = []

# Iterate through the rows and extract values to populate the list
for row_element in rows:
cells = row_element.find_all('td')
row_data = [cell.text for cell in cells]
data_rows.append(row_data)

In [ ]:
# Transform the list of rows into a DataFrame
mars_data = pd.DataFrame(data_rows, columns=["id", "terrestrial_date", "sol", "ls", "month", "min_temp", "pressure"])

In [ ]:
# Print 
df.head()

In [ ]:
# See data types
df.dtypes

In [ ]:
# Change string data types into int and float data types for analysis
df['terrestrial_date'] = pd.to_datetime(df['terrestrial_date'])
df['sol'] = df['sol'].astype(int)
df['ls'] = df['ls'].astype(int)
df['month'] = df['month'].astype(int)
df['min_temp'] = df['min_temp'].astype(float)
df['pressure'] = df['pressure'].astype(float)

In [ ]:
# See changes in data type
df.dtypes

In [ ]:
# Count the occurrences of each month to determine the number of days on Mars
mars_days_count = df["month"].value_counts().sort_index()

In [ ]:
# Utilize nunique to find how many days worth of martian data we have. 
df.sol.nunique()

In [ ]:
# Average temp by month
# Calculate the average minimum temperature for each month
average_min_temp_by_month = df.groupby('month')['min_temp'].mean()
print(average_min_temp_by_month)

In [ ]:
# Plot average temperature by month into bar chart
min_temp_by_month.plot(kind='bar')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
# Find and plot the coldest and hottest months in Curiosity's location
min_temp_by_month_sorted = min_temp_by_month.sort_values()
min_temp_by_month_sorted.plot(kind='bar')
plt.ylabel('Temperature in Celsius')
plt.xlabel('Month')
plt.title('Coldest and Hottest Months in Curiosity\'s Location on Mars')
plt.show()

In [ ]:
# Calculate the average pressure on Mars grouped by month
average_pressure_by_month = df.groupby('month')['pressure'].mean()
print(average_pressure_by_month)

In [ ]:
# Plot the average atmospheric pressure by month as a bar chart
average_pressure_by_month_sorted = average_pressure_by_month.sort_values()
average_pressure_by_month_sorted.plot(kind='bar')
plt.ylabel('Atmospheric Pressure')
plt.xlabel('Month')
plt.title('Average Atmospheric Pressure by Month on Mars')
plt.show()

In [ ]:
# 5. Determine and plot the minimum temperature over time to estimate the duration of a Martian year
df['terrestrial_date'] = pd.to_datetime(df['terrestrial_date'])
plt.plot(df['terrestrial_date'], df['min_temp'])
plt.xlabel('Terrestrial Date')
plt.ylabel('Minimum Temperature (Celsius)')
plt.title('Minimum Temperature Variation Over Time')
plt.show()

In [ ]:
# Write the data from the DataFrame to a CSV file for future analysis
mars_data.to_csv('mars_data.csv', index=False)

In [ ]:
browser.quit()